//
// TEXT SIZING
//
html {

	font-size: 100%;
	background-color: #FFFFFF;

}

body {

	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	@include rem(min-width, 320px);

}

//
// GRID ELEMENTS
//
.container { // all container widths are divisible by 12

	margin: 0 auto;
	@include rem(padding, 0 2rem);

	@media screen and (min-width : 768px) {
	
		padding: 0;
		width: 636px;

	}

	@media screen and (min-width : 1024px) { width: 900px; }

	@media screen and (min-width : 1366px) { width: 1236px; }

	@media screen and (min-width : 1680px) { width: 1428px; }

	@media screen and (min-width : 1920px) { width: 1668px; }

}