//
// TEXT SIZING
//
html {

	font-size: 100%;
	background-color: #FFFFFF;

}

body {

	font-size: 1rem;
	font-family: 'Roboto', sans-serif;

}

//
// GRID ELEMENTS
//
.container {

	@include rem(margin, 0 16px);

}

@media screen and (min-width : 768px) { // 64px margins;
	
	.container {

		margin: 0 auto;
		width: 640px;

	}

}

@media screen and (min-width : 1024px) {

	.container { width: 896px; }

}

@media screen and (min-width : 1366px) {

	.container { width: 1238px; }

}

@media screen and (min-width : 1680px) { // 128px margins

	.container { width: 1424px; }

}

@media screen and (min-width : 1920px) {

	.container { width: 1664px; }

}