$color-brand: #713ABE !default;
$color-brand-blue: #55A9FF !default;
$color-brand-red: #F54040 !default;

$color-text: #121212 !default;
$color-text-light: #4F4F4F !default;
$color-light: #BFBFBF !default;

$color-white: #FFFFFF !default;

$z-nav-header: 30 !default;
$z-nav-button: 10 !default;
$z-masthead-border: -10 !default;
$z-masthead-fixed-bg: -20 !default; 