$color-background: #121212 !default;
$color-background-light: #1F1F1F !default;
$color-background-muted: #737373 !default;
$color-text: #FFFFFF !default;

$color-brand: #ED4D4D !default;

$z-nav-header: 30 !default;
$z-nav-button: 10 !default;
$z-masthead-border: -10 !default;
$z-masthead-fixed-bg: -20 !default; 