$color-brand-blue: #55A9FF !default;
$color-brand-red: #F54040 !default;

$color-text: #4B4B4B !default;
$color-text-light: #B4B4B4 !default;
$color-bg-dark: #1E1E1E !default;

$z-masthead-border: -10 !default;
$z-masthead-fixed-bg: -20 !default;