@import "https://fonts.googleapis.com/css?family=Oswald";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 100%;
  background-color: #FFFFFF; }

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
  min-width: 20rem; }

.container {
  margin: 0 auto;
  padding: 0 32px;
  padding: 0 2rem; }
  @media screen and (min-width: 768px) {
    .container {
      padding: 0;
      width: 636px;
      width: 39.75rem; } }
  @media screen and (min-width: 1024px) {
    .container {
      width: 900px;
      width: 56.25rem; } }
  @media screen and (min-width: 1366px) {
    .container {
      width: 1236px;
      width: 77.25rem; } }
  @media screen and (min-width: 1680px) {
    .container {
      width: 1428px;
      width: 89.25rem; } }
  @media screen and (min-width: 1920px) {
    .container {
      width: 1668px;
      width: 104.25rem; } }

.s, .logo {
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("images/sprite.png"); }

.logo {
  width: 28px;
  height: 40px;
  background-position: 0px 0px; }

@media screen and (min-width: 768px) {
  .logo {
    width: 41px;
    height: 60px;
    background-position: -50px 0px; } }
@media screen and (min-width: 1680px) {
  .logo {
    width: 55px;
    height: 80px;
    background-position: -100px 0px; } }
#hero-index {
  position: relative;
  padding: 32px 0 51.2px;
  padding: 2rem 0 3.2rem; }
  #hero-index:before {
    content: '';
    position: absolute;
    border-width: 12px;
    border-width: 0.75rem;
    border-color: #1E1E1E;
    border-style: solid;
    border-bottom: none;
    z-index: -10;
    display: none; }
  #hero-index .logo {
    margin-bottom: 14.4px;
    margin-bottom: 0.9rem; }
  #hero-index .masthead {
    font-family: 'Oswald', sans-serif;
    font-size: 56px;
    font-size: 3.5rem;
    line-height: 1.2;
    color: #55A9FF;
    text-transform: uppercase;
    mix-blend-mode: multiply; }
    #hero-index .masthead p, #hero-index .masthead h1 {
      margin-bottom: 48px;
      margin-bottom: 3rem; }
    #hero-index .masthead span {
      color: #F54040; }
    #hero-index .masthead a:link, #hero-index .masthead a:visited {
      color: #55A9FF; }
    #hero-index .masthead a:hover, #hero-index .masthead a:active {
      color: #228fff; }
    #hero-index .masthead-fixed-bg {
      position: fixed;
      z-index: -20; }
  @media screen and (min-width: 768px) {
    #hero-index {
      padding: 64px 0 104px;
      padding: 4rem 0 6.5rem; }
      #hero-index:before {
        display: block; }
      #hero-index .logo {
        margin-bottom: 32px;
        margin-bottom: 2rem; }
      #hero-index .masthead {
        font-size: 80px;
        font-size: 5rem; } }
  @media screen and (min-width: 1680px) {
    #hero-index {
      padding: 128px 0 206.4px;
      padding: 8rem 0 12.9rem; }
      #hero-index:before {
        display: block; }
      #hero-index .logo {
        margin-bottom: 67.2px;
        margin-bottom: 4.2rem; }
      #hero-index .masthead {
        font-size: 112px;
        font-size: 7rem; } }

#work-showcase {
  background-color: #1E1E1E; }
  #work-showcase .work {
    float: left;
    background-color: #FF0000; }
    #work-showcase .work > div > div {
      position: absolute; }
    #work-showcase .work:nth-child(even) {
      background-color: #0000FF; }
  @media screen and (min-width: 768px) {
    #work-showcase .work {
      width: 50%; } }
  @media screen and (min-width: 1024px) {
    #work-showcase .work {
      width: 33.334%; } }

#work-showcase:before, #work-showcase:after {
  content: " ";
  display: table; }
#work-showcase:after {
  clear: both; }

#hero-index:before, #hero-index .masthead-fixed-bg, #work-showcase .work > div > div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#work-showcase .work > div {
  position: relative;
  width: 100%;
  padding-bottom: 100%; }

/*# sourceMappingURL=styles.css.map */
