%IMG-FILL {

    max-width: 100%;
    height: auto;

}

%IMG-CRISP-SCALING {

	image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	
}