.masthead {

	font-family: 'Oswald', sans-serif;
	@include rem(font-size, 3.5rem);
	line-height: 1.2;
	color: $color-brand-blue;
	text-transform: uppercase;
	mix-blend-mode: multiply;

	p, h1 { @include rem(margin-bottom, 48px); }

	span { color: $color-brand-red; }

	a:link, a:visited { color: $color-brand-blue; }
	a:hover, a:active { color: darken($color-brand-blue, 10%); }

	&-fixed-bg {

		@extend %BOX-VIEWPORT;
		position: fixed;
		z-index: $z-masthead-fixed-bg;

	}

	@media screen and (min-width : 768px) {
	
		@include rem(font-size, 5rem);

	}

	@media screen and (min-width : 1366px) {

		@include rem(font-size, 6rem);

	}

	@media screen and (min-width : 1680px) {

		@include rem(font-size, 7rem);

	}

	@media screen and (min-width : 1920px) {

		@include rem(font-size, 8rem);

	}

}