#home-hero {

	&:before {

		@extend %BOX-VIEWPORT;
		content: '';
		position: absolute;
		@include rem(border-width, 0.5rem);
		border-color: $color-bg-dark;
		border-style: solid;
		border-bottom: none;
		z-index: $z-masthead-border;

	}

}

@media (min-width : 768px) {
	
	#home-hero {
		
		@include rem(border-width, 0.75rem);

	}

}

@media (min-width : 1024px) {

}

@media (min-width : 1366px) {

}