#home-hero {

	position: relative;

	&:before {

		@extend %BOX-VIEWPORT;
		content: '';
		position: absolute;
		@include rem(border-width, 0.75rem);
		border-color: $color-bg-dark;
		border-style: solid;
		border-bottom: none;
		z-index: $z-masthead-border;
		display: none;

	}

}

@media screen and (min-width : 768px) {
	
	#home-hero:before {

		display: block;

	}

}