#home-hero {

	@include rem(border-width, 0.5rem);
	border-color: $color-bg-dark;
	border-style: solid;
	border-bottom: none;

}

@media only screen and (min-width : 768px) {
	
	#home-hero {
		
		@include rem(border-width, 0.75rem);

	}

}

@media only screen and (min-width : 1024px) {

}

@media only screen and (min-width : 1366px) {

}