.s {
    
    background-repeat:no-repeat;
    display:inline-block;    
    background-image: url('images/sprite.png');

    &.team,
    &.solo {

        width: 30px;
        height: 48px;

    }

    &.team { background-position: 0px -80px; }
    &.solo { background-position: -30px -80px; }

}