///////////////////////
// CSS CORE INCLUDES //
///////////////////////

@import "core/fonts";
@import "core/reset";
@import "core/variables";

///////////////////
// ONE PAGE CODE //
///////////////////
.masthead {

	font-family: 'Oswald', sans-serif;
	font-size: 120px;
	line-height: 1.2;
	color: $brand-blue;
	text-transform: uppercase;

}