.contact {

	@include rem(padding, 48px 0);
	background-color: $color-brand-blue;
	color: #FFFFFF;
	font-weight: 100;
	line-height: 1.5;
	text-align: center;

	@include rem(font-size, 16px);

	a {

		color: inherit;
		font-weight: 400;

	}

	h1 { display: inline; }

	@media screen and (min-width : 768px) { @include rem(font-size, 24px); }

}