.hero-index {

	position: relative;

	.masthead {

		display: flex;
		flex-direction: column;
		height: 90vh;
		align-items: stretch;

		font-size: 1rem;
		font-family: 'Merriweather', sans-serif;
		line-height: 1.2rem;
		color: $color-text;

		> :first-child, > :last-child {
			
			flex: 1;
			position:relative;
		
		}

		.text {

			font-weight: 700;
			max-width: 58.5rem;
			margin: 2rem auto;
			padding: 0 1rem;

		}

		h1, p { display: inline; }
	}

	.arrow-transition {

		position: relative;
		width: 100%;
		background-color: $color-white;
		height: 24px;

		> div::after {

			content:" ";
			display: block;
			width: 9px;
			left: 50%;
			margin-left: -4px;
			background-color: $color-text;
			height: 1px;
			position: absolute;
			bottom: 4px;

		}

	}

	.masthead > :last-child, .arrow-transition {
		
		&::after {

			content: " ";
			height: 100%;
			display: block;
			width: 1px;
			background-color: $color-text;
			position: absolute;
			left:50%;
			top: 0;
			bottom: 0;

		}

	}

	@media screen and (min-width : 768px) {
	
		.masthead { font-size: 2rem; line-height: 2.5rem; }

	}



	@media screen and (min-width : 1680px) {
	
		.masthead { font-size: 2.5rem; line-height: 3rem; }

	}

}