#menu-button {

	background-color: $color-bg-dark;
	@include rem(width, 40px);
	@include rem(height, 40px);
	position: fixed;
	top: 0;
	right: 0;
	z-index: $z-menu-button;
	
	&:before,
	&:after {

		content: '';
		position: absolute;
		@include rem(width, 16px);
		@include rem(height, 2px);
		@include rem(left, 12px);
		background-color: #FFFFFF;

		transition: all .15s linear;

	}

	&:before { @include rem(top, 16px); }
	&:after { @include rem(top, 22px); }

	&.is-morphed {
	
		&:before { @include rem(top, 18px); }
		&:after { @include rem(top, 20px); }
	
	}

}

#menu-overlay {

	@extend %BOX-FILL;
	position: fixed;
	z-index: $z-menu-overlay;
	opacity: 0;
	visibility: hidden;
	background-color: $color-bg-dark;
	transition: all .15s linear;

	
	&.is-opened {
	
		visibility: visible;
		opacity: .99;
	
	}

}