#header {

	position: fixed;
	width: 100%;
	display: block;
	z-index: $z-nav-header;
	height: 64px;
	background-color: $color-background;
	
	> * { vertical-align: middle; }

	.logo-wrapper {

		display: inline-block;
		position: relative;
		width: 64px;
		height: 64px;
		background-color: $color-background;

		svg {

			margin-top: 16px;
			margin-left: 20.89px; 

		}

	}

	.left,
	.right {
		
		z-index: 1;
		display: inline-block;
		height: 64px;

		span {

			background-color: $color-background;
			color: $color-text;
			font-size: 16px;
			letter-spacing: 1px;
			font-weight: 500;
			line-height: 64px;

		}

	}
	
	.right span { padding-right: 21px; }

	&::before {

		content: " ";
		position: absolute;
		//width: calc(100% - 42px);
		top:50%;
		display: block;
		height: 1px;
		background-color: $color-text;
		//margin-left: 21px;
		width: 100%;
		z-index: -1;

	}

	@media screen and (max-width : 767px) { 

		.left span::after { 
			
			content: "\00a0/\00a0 "; 
			font-weight: 300;		
		
		}

		.left, .right {

			span { font-size: 12px; }

		}

	}

	@media screen and (min-width : 768px) { 

		.left,
		.right {

			width: calc(50% - 85px);
			text-align: center;

			span { padding: 0 16px; }

		}

		.left { margin: 0 21px 0 64px; }
		.right { margin: 0 64px 0 21px; }

		.logo-wrapper {

			position: absolute;
			left:50%;
			margin-left: -32px;
			top: 0;			

		}

		&::before {
		
			//width: calc(100% - 128px);
			//margin-left: 64px;
			width: 100%;
			margin-left: 0;
		
		}

	}

}

.button-top,
.button-back {

	display: block;
	position: fixed;
	overflow: hidden; 
	width: 40px;
	height: 40px;
	background-color: $color-background-light;
	z-index: $z-nav-button;

	&:hover, :active { background-color: $color-brand; }

}

.button-top {

	right: 0;
	bottom: 0;
	display: none;
 
}

.button-back {

	top: 0;
	left: 0;
	@include rem(padding, 13px 12px);

}