.button-menu,
.button-top {

	display: block;
	position: fixed;
	overflow: hidden;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: $color-bg-dark;
	z-index: $z-button-menu;

	&:active { background-color: $color-bg-dark; }

}

.button-menu {

	top: 0;
	font-size: 0;
	text-indent: -9999px;
	
  	span {

  		display: block;
		position: absolute;
		top: 19px;
		left: 12px;
		right: 12px;
		height: 2px;
		background: white;
		transition: background 0s 0.2s;
  		background: none;

		&:before,
		&:after {

			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			content: "";
			transition-duration: 0.2s, 0.2s;
  			transition-delay: 0.2s, 0s;

		}

		&:before {

			top: -3px;
			transition-property: top, transform;

		}

		&:after {

			bottom: -3px;
			transition-property: bottom, transform;

		}

  	}

  	&.is-morphed {

		span {

			&:before {

				top: 0;
  				transform: rotate(45deg);

			}

			&:after {

				bottom: 0;
				transform: rotate(-45deg);

			}

			&:before,
			&:after { transition-delay: 0s, 0.2s; }

		}

  	}

}

.button-top {

	bottom: 0;
	display: none;
	z-index: $z-button-top;

}

.menu-overlay {

	@extend %BOX-FILL;
	position: fixed;
	z-index: $z-overlay-menu;
	opacity: 0;
	visibility: hidden;
	background-color: $color-bg-dark;
	transition: all .15s linear;
	display: table;

	nav {

		display: table-cell;
		vertical-align: middle;
		text-align: center;
		@include rem(padding, 30px);

		a {

			@include rem(font-size, 32px);
			position: relative;
			line-height: 1.7;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 100;
			transition: color .3s linear;

			&:before {

				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				background-color: darken(#FFFFFF, 50%);
				width: 100%;
				transition: background-color .3s linear;

			}

			&:link,
			&:visited { color: darken(#FFFFFF, 50%); }
			&:hover,
			&:active { 

				color: #FFFFFF;

				&:before { background-color: #FFFFFF; }

			}

		}

	}
	
	&.is-opened {
	
		visibility: visible;
		opacity: .99;
	
	}

	@media screen and (min-width : 768px) {

		nav a { @include rem(font-size, 48px); }

	}

}