.screenshots {

	img {
	
		@extend %IMG-FILL;
		@extend %IMG-CRISP-SCALING;
		
	}

	.screenshot,
	.screenshots-mobile { background-color: lighten($color-bg-dark, 5%); }

	.screenshot {
	
		padding-bottom: percentage(768/1366);
		position: relative;		
		
		&:not(:last-child) { @include rem(margin-bottom, 16px); }
		
		> div {
		
			position: absolute;
			@extend %BOX-FILL;
		
		}
	
	}
	
	.screenshots-mobile {
	
		@include rem(padding, 16px);
		display: table;
		width: 100%;
		
		> div { 
		
			display: table-cell;
			
			&:first-child,
			&:last-child { width: 50%; }
			
			&:first-child {
			
				text-align: right;
				
			}
			
			&:last-child {
			
				text-align: left;
				
			}
			
		}
		
		img {
		
			@include rem(padding, 16px);			
			max-width: 360px;
			
		}
	
	}
	
}