.screenshots {

	@include rem(margin-top, 36px);

	img {
	
		@extend %IMG-FILL;
		@extend %IMG-CRISP-SCALING;
		
	}

	.screenshot {
		
		font-size: 0;
		&:not(:last-child) { @include rem(margin-bottom, 16px); }
	
	}
	
	.screenshots-mobile {
	
		background-color: lighten($color-bg-dark, 5%);
		@include rem(padding, 16px 8px);
		text-align: center;
		width: 100%;
		
		img {
		
			@include rem(padding, 0 8px);			
			max-width: 360px;
			
		}
		
		.wrap {
		
			display: inline-block;
			
			> div {
			
				display: table;
				
				> div { display: table-cell; }
				
			}
		
		}
	
	}
	
}