#work-information {

	.info-width-box {
		
		padding: 4rem 4rem;
		max-width: 1280px;
		margin: 0 auto;

	}

	h1 {

		position: relative;
		font-weight:700;
		font-size: 4rem;
		margin: 1rem 0 4rem;

	}

	p + p, ul + p { margin-top: 1rem; }

	.work-logo {

		display: none;
		position:absolute;
		right: 0;

	}

	.jamendo-music-logo, .jamendo-licensing-logo { top: -4px; }

	.about { margin-bottom: 3rem; }

	.description ul { 
		
		list-style: square;
		margin-left: 2rem;

	}

	.about, .information {

		display: flex;
		flex-direction: column;
		line-height: 2;

		h2 { font-weight: 600; }

	}

	.about, .description {

		border-top: 2px solid #FFFFFF;

	}

	.about, .roles, .description { padding-top: 2rem; }

	.roles {
		
		padding-bottom: 2rem;
		border-top: 1px solid #FFFFFF;
		display: flex;
		flex-direction: row;

		> * { flex-basis: 50%; }
	
	}

	@media screen and (min-width : 820px) {

		.about, .information {

			flex-direction: row;
			gap: 6rem;

			> :first-child { flex-basis: 40%; }
			> :last-child { flex-basis: 60%; }

		}

		.work-logo { display: inline-block; }

	}

	.visuals {

		max-width: 1920px;
		margin: 0 auto;
		padding: 0 4rem 4rem;

		h1 {
			
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: 1.5rem;
		
		}

	}

	.showcase {	
		
		padding: 0 3.5rem 3.5rem; /* have 1680px availabilty for full display*/
		background-color: $color-background-light;

		img {

			display: block;
			@extend %IMG-CRISP-SCALING;

		}

		li {

			position: relative;
			padding-top: 3.5rem;

			&:last-child { margin-bottom: 0; }

			&.responsive {

				img:first-child {
					
					@extend %IMG-FILL;
				
				}

				img:last-child {

					position: absolute;
					bottom: 0;
					right: 0;
					border: 1px solid $color-background;
					border-bottom: none;	
					transform-origin: bottom right;						

				}

				&.dark img:last-child { border: 1px solid #FFFFFF; }

			}

			&.desktop, &.mobile-row { justify-content: center; }

			&.desktop, &.mobile-row, &.dual-column-stack { 
				
				display: flex;
				flex-direction: row;
				gap: 2rem;

				div { flex:1 }			
			
			}

			&.mobile-row, &.desktop, &.dual-column-stack { img { @extend %IMG-FILL; } }

		}
	
	}

	@media screen and (max-width: 1600px) {

		.visuals, .showcase { padding: 0 3rem 3rem; }

		.showcase li {

			padding-top: 3rem;
			&.responsive img:last-child { transform: scale(0.75); }

		}
	
	}

	@media screen and (max-width: 1200px) {
		
		.visuals, .showcase { padding: 0 2rem 2rem; }
		
		.showcase li {

			padding-top: 2rem;
			&.responsive img:last-child { transform: scale(0.5); }			

		}

	}

	

	@media screen and (max-width: 900px) {
		
		.visuals, .showcase { padding: 0 1rem 1rem; }

		.showcase li { padding-top: 1rem; }

	}

	@media screen and (max-width: 700px) {
		
		.showcase li {
			
			&.responsive img:last-child, &.mobile-row { display: none; }

			&.dual-column-stack { flex-direction: column; }

		}

		.info-width-box { padding: 4rem 1rem; }
	
		h1 {
			
			font-size: 2rem;
			margin: 1rem 0 2rem;
	
		}

	}

}