#work-showcase {//

	background-color: $color-bg-dark;
	font-weight: 300;
	color: #FFF;

	&,
	.work { @include rem(padding, 4rem 0); }

	.date,
	.project-name { @include rem(margin-bottom, 1rem); }

	.date {

		line-height: 1;
		color: $color-brand-blue;

		span { color: $color-brand-red; }

	}

	.project-name {

		@include rem(font-size, 2rem);
		
		font-weight: 400;
		line-height: 1.2;

	}

	.description {

		@include rem(margin-bottom, 2.5rem);
		line-height: 2;

	}

	.skills {

		display: inline-table;
		@include rem(margin-bottom, 1rem);

		> div {

			display: table-cell;
			vertical-align: top;

		}

		.type .s { margin-top: -1px; }
		
		.list { display: inline-block; }

		li {

			float: left;
			@include rem(font-size, 0.875rem);
			@include rem(padding, 1rem);
			line-height: 1;
			border: 1px solid $color-text;
			white-space: nowrap;
			margin-top: -1px;
    		margin-left: -1px;

			&:last-child { @include rem(margin-right, 1.85rem); }


		}

		+ .skills { @include rem(margin-bottom, 3rem); }

	}

	.views { @extend %BOX-CLEARFIX; }

	.view {

		float: left;
		width: 100%;
    	max-width: 300px;

		> div { 

			@extend %BOX-RATIO-1-1;

			> div { 

				@extend %BOX-FILL;
				position: absolute;

			}

		}

		img { 

			@extend %IMG-FILL;

			&.crisp { @extend %IMG-CRISP-SCALING; }

		}

	}

	@media screen and (min-width : 768px) {

		.view { 

			width: 50%;
			max-width: none;

		}

	}

	@media screen and (min-width : 1024px) {

		.view { width: 33.334%; }

	}

	@media screen and (min-width : 1366px) {

		.description { @include rem(width, 45rem);  } // legibility

	}

}