#work-showcase {//

	background-color: $color-bg-dark;
	font-size: 0; // removing bottom space

	.views { @extend %BOX-CLEARFIX; }

	.view {

		float: left;
		width: 100%;

		> div { 

			@extend %BOX-RATIO-1-1;

			> div { 

				@extend %BOX-FILL;
				position: absolute;

			}

		}

		img { 

			@extend %IMG-FILL;

			&.crisp { @extend %IMG-CRISP-SCALING; }

		}

	}

	@media screen and (min-width : 768px) {

		.view { width: 50%; }

	}

	@media screen and (min-width : 1024px) {

		.view { width: 33.334%; }

	}

}